<!DOCTYPE html> 
<html> 
  
<head> 
    <title>CSV FILE UPLOAD</title> 
</head> 
  
<body> 
    <h1>Single File Upload Demo</h1> 
   
    <form action="/csvapi/v1" 
      enctype="multipart/form-data" method="POST"> 
      
        <span>PUT CSV INTO DATABASE:</span>   
        
        <input type="submit" value="Upload">  
    </form> 
</body> 
  
</html> 